*{
    box-sizing: border-box;
}
.logo{
    padding: 1rem 4rem;
    margin-bottom: -2rem;
}
body,html{
    height:100%;
}
#land{

    background-image: url(../house_repair/hero-bg.jpg);
    background-repeat: no-repeat;
    overflow: visible;
    /* width: 100%;
    max-width: 100%; */
    height: 100vh;
    /* background-position: center; */
    background-size: cover;
    background-clip: border-box;
    /* position: absolute; */
}
.back{
    width: 50%;
    position: relative;
    top: 25%;
    bottom: 15%;
    left: 8%;
}
.back .sheet{
    margin: 0;
}
.land-img{
    display: flex;
    /* width: 150px; */
    /* overflow: hidden; */
    padding-left: -10px;
}
.im{
    padding-left: 50px;
    padding-top: 30px;
}
.im p{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.nav-bar {
    /* display: inline-block; */
    cursor: pointer;
    float: right;
    margin-top: -2rem;
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-9px, -6px);
    transform: rotate(45deg) translate(-9px, -6px);
  }
.hou-rep{
    color: white;
    font-size: 2.2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.serv{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 4.5rem;
    font-weight: bolder;
    color: white;
    margin-top: -7rem;
}
.line hr{
    border: 6px solid #ffffff;
    width: 35rem;
    margin-top: -5rem;
    margin-left: -0.1rem;
}
.our-service{
    margin-top: -1.3rem;
    background-color: whitesmoke;
}
.text{
    padding-top: 10%;
    padding-bottom: 5%;
    text-align: center;
}
.text1{
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
}
.text2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    font-weight: bold;
}
.text3{
    width: 47rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin: 0 auto;
    font-size: 1.3rem;
    font-weight:lighter;
}
.book button{
    background-color: red;
    padding: 1rem 2.3rem;
    border: none;
    border-radius: 2px;
    color: white;
    font-size: 0.8rem;
    cursor: pointer;
}
.contact{
    padding: 5% 10%;
    display: flex;
}
.plan{
    width: 50%;
}
.help{
    width: 50%;
    padding-top: 15px;
}
.plan-txt{
    width: 430px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    padding-top: 7%;
    padding-left: 15%;
}
.help-txt1 {
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
}
.help-txt2{
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    color: red;
    margin-top: -0.7rem;
}
.quality{
    background-color: whitesmoke;
    display: flex;
    height: 100%;
}
.qua-img{
    width: 40%;
    background-image: url(../house_repair/billionphotos1079319min.png);
    background-size: 400px;
    object-fit: cover;
    display: block;
    margin-top: 20px;
    background-size: 420px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.qua-txt{
    width: 60%;
    padding: 70px 0;
}
.qua-txt-head{
    font-size: 3.1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: navy;
}
.qua-txt-line hr{
    border: 6px solid red;
    width: 34rem;
    margin-top: -2rem;
    margin-left: -0.1rem;
}
.qua-txt-par{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.3rem;
    width: 530px;
    padding-top: 1rem;
}
.our-service{
    display: flex;
    padding-top: 2.5rem;
    padding-left: 7rem;
    padding-bottom: 4rem;
}
.ourserv{
width: 33.33%;
}
.elec{
width: 33.33%;
}
.rep{
width: 33.33%;
}

.con{
    padding-top: 8rem;
}
.co{
    border-radius: 120px;
}
.ourserv-head{
    padding-bottom: 0.4rem;
    font-size: 1.7rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.sub{
    font-size: 1.3rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.par{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.3rem;
    width: 350px;
    font-style: italic;
}
.abt{
    display: flex;
    background-color: #104e92;
    height: 80vh;
}
.about{
    width: 50%;
    position: relative;
    top: 150px;
    left: 180px;
}
.about-us{
    color: white;
    font-size: 1.3rem;
    font-family: 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.about-desc1{
    margin-top: -5rem;
    color: white;
    font-size: 4rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}
.about-desc2{
    margin-top: -5rem;
    color: white;
    font-size: 4rem;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.abt-img{
    width:50%;
    display: flex;
    padding: 70px 20px;
}
.abt-img img{
    width: 250px;
    height: 200px;
}
.set1{
    width: 50%;
    padding-bottom: 15px;
    margin-right: -2rem;
}
.set2{
    width: 50%;
    padding-bottom: 15px;
}
.todo{
    margin: 0, auto;
    margin-top: 150px;
    margin-bottom: 5px;
    padding-bottom: 4px;
    display: grid;
    justify-content: center;
    height: 80vh;
}
.to-do{
    text-align: center;
    /* padding: 100px auto; */
    justify-content: center;
}
.to-do-head{
    width: 700px;
    text-align: center;
    font-size: 1.5rem;
    line-height: 1.1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.to-do-par{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.8rem;
    width: 600px;
    text-align: center;
    font-weight: 400;
    font-style: italic;
}
.to-btn{
    /* position: relative; */
    /* left: 30%; */
    display: inline-flex;
    justify-content: center;
}
.call-btn button{
    background-color: white;
    color: gray;
    border: 1px solid grey;
    margin-left: 15px;
    padding: 1rem 3rem;
}
.footer{
    background-color: #333333;
    height: 30%;
    padding: 50px auto;
    margin-top: 3rem;
    display: grid;
    justify-content: center;
}
.txt-box{
    width: 450px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    text-align: center;
    padding-top: 30px;
    justify-content: center;
}
.web-temp{
    padding-bottom: -2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.8rem;
    justify-content: center;
    padding-left: 2.7rem;
    color: white;
    /* width: 600px; */

}
a{
    color: #abcff7;
}

@media(min-width:992px) and (max-width:1199px){
    #land {
        background-position: 34.74% 0%;
    }
    .sheet{
        width: 940px;
        /* flex-wrap: wrap; */
    }
    .word-cont{
        width: 450px;
        font-size: 1.4rem;
    }
    .image-cont{
        max-width: 100%;
    }
    .book{
        margin: 0 auto;
    }
    .line-cont hr{
        width:500px
    }
    .to-btn{
        /* flex-wrap: wrap; */
        margin: 0 auto;
    }
    .web-temp{
        text-align: center;
        margin: 0 auto;
    }
    .contact{
        max-width: 80%;
        /* flex-wrap: wrap; */
    }
    .image{
        max-width: 100%;
    }
    .quality{
        flex-wrap: wrap;
    }
    .abt{
        margin:0 auto
    }
    .about{
        margin: 0 auto;
    }
    .abt-img{
        margin: 0 auto;
    }
}

@media(min-width:690px) and (max-width:767px){
    #land{
        background-position:90% 50%;
    }
    .sheet{
        display: block;
        width: 720px;
        margin: 0 auto;
        /* flex-wrap: wrap; */
    }
    .word-cont{
        width: 350px;
        font-size: 1.1rem;
    }
    .image-cont{
        max-width: 100%;
    }
    .book{
        margin: 0 auto;
    }
    .line-cont hr{
        width: 400px;
    }
    .to-btn{
        /* flex-wrap: wrap; */
        margin: 0 auto;
    }
    .web-temp{
        text-align: center;
        margin: 0 auto;
    }
    .contact{
        max-width: 67%;
        /* flex-wrap: wrap; */
    }
    .image{
        max-width: 100%;
    }
    .quality{`
        /* flex-wrap: wrap; */
    }
    .big{
        font-size:1.8rem
    }
    .mini{
        font-size:1rem
    }
    .word-cont p{
        font-size: 0.8rem;
    }
    .abt{
        margin:0 auto;
        display: flex;

    }
    .about{
        margin: 0 auto;
    }
    .abt-img{
        margin: 0 auto;
    }
}

@media(min-width:425px) and (max-width:575px) {
    .primary{
        margin: 0 auto;
    }
    #land{
        background-position:100% 50%;
        display: block;
    }
    .sheet{
        /* display: block; */
        width: 340px;
        margin: 0 auto;
        /* flex-wrap: wrap; */
    }
    .abt{
        display: block;
        overflow: hidden;
    }
    .word-cont{
        width: 350px;
        font-size: 1.3rem;
    }
    .big{
        font-size:1.8rem
    }
    .mini{
        font-size:1rem
    }
    .word-cont p{
        font-size: 0.8rem;
    }
    .image-cont{
        max-width: 100%;
    }
    .book{
        margin: 0 auto;
    }
    .line-cont hr{
        width: 300px;
    }
    .to-btn{
        flex-wrap: wrap;
        margin: 0 auto;
    }
    .web-temp{
        text-align: center;
        margin: 0 auto;
    }
    .contact{
        display: block;
    }
    .quality{
        display: block;
    }
    .image{
        max-width: 100%;
    }
    .quality{
        flex-wrap: wrap;
    }
    .abt{
        margin:0 auto
    }
    .our-service{
        display: block;
    }
    .about{
        margin: 0 auto;
    }
    .abt-img{
        margin: 0 auto;
    }
}
.sheet{
    margin: 0 auto;
}


.row::after {
    content: "";
    clear: both;
    display: block;
  }
  
  [class*="col-"] {
    float: left;
    padding: 15px;
  }

@media only screen and (min-width: 768px) {
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
  }